<main>
  <section>
    <h1>Choose a user</h1>
    <button type="button" *ngFor="let user of users" (click)="chooseUser(user.id)">User {{user.id}} </button>
  </section>
  <section *ngIf="selectedUser" >
    <p>id : {{selectedUser.id}} </p>  
    <p>role : {{selectedUser.role}} </p>  
    <p>isConnected : {{selectedUser.isConnected}} </p>  
  </section>

  <section *ngIf="selectedUser">
    <h1>Select a page to navigate</h1>
    <ul>
      <li>
        <a [routerLink]="['home']" (click)="setEmptyMessage()" >HOME</a>
      </li>
      <li>
        <a [routerLink]="['dashboard']" >DASHBOARD</a>
      </li>
      <li>
        <a [routerLink]="['admin']" >ADMIN</a>
      </li>
    </ul>
  </section>
</main>

<h2 *ngIf="message !=''" [style]="{color: 'red'}" > Message : {{message}} </h2>
<router-outlet></router-outlet>
